// scss-docs-start color-variables
$blue:    purple;
$indigo:  #9055ee;
$purple:  #9b76f8;
$pink:    #f259a5;
$red:     #f4495a;
$orange:  #fa9a4c;
$yellow:  #ffd760;
$green:   #5cfeb2;
$teal:    #5eefc4;
$gray-600: #ff5e98; //secondary color
$cyan:   #0F213E;
$gray-300: #000; //border color

.bg-secondary {
    background: linear-gradient(-225deg, $gray-600, $cyan);
    background-position: fixed;
}

.bg-navbar {
    background: linear-gradient(90deg, $gray-600, $cyan);
 }

.custom-border-bottom {
    border-bottom: 3px solid !important;
}

.feed-background {
    background-color: #BF7791;
}   

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";